/* Topbar.css */

/* Default styles for larger screens (desktop) */
.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: white;
    padding: 10px 20px;
}

.topLeft {
    display: flex;
}

.topIcon {
    margin: 3px;
    font-size: 20px;
}

.topCenter {
    flex: 1;
    text-align: center;
}

.topList {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
}

.topListItem {
    margin-right: 20px;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
}

.topListItem>.link {
    text-decoration: none;
    color: white;
    font-weight: 500;
}


.topRight {
    display: flex;
    align-items: center;
}

.topImg {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
    margin-right: 10px;
}

/* Styles for mobile menu button */
.mobileMenuButton {
    display: none;
    /* Initially hide the button on larger screens (desktop) */
}

/* Media query for smaller screens (e.g., mobile devices) */
@media screen and (max-width: 768px) {
    .top {
        flex-direction: row;
        padding: 10px;
    }

    .topLeft {
        display: none;
    }

    .topList {
        display: none;
        /* Hide the menu items on mobile screens */
    }

    .mobileMenuButton {
        display: block;
        /* Display the menu button on smaller screens (mobile) */
        color: white;
        /* Set the text color to white */
        cursor: pointer;
        font-size: 24px;
        padding: 5px;
    }

    .fas.fa-bars.active {
        transform: rotate(90deg);
        /* Rotate the menu icon when active */
    }

    /* Show the menu items when the mobile menu is open */
    .topList.active {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}