/* .post {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: border-color 0.3s ease;
}

.post:hover {
    border-color: #007bff;
}

.post img.postImg {
    max-width: 100%;
    height: auto;
}

.postInfo {
    padding: 20px;
    text-align: center;
}

.postCats {
    margin-bottom: 10px;
}

.postCat {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
}

.postTitle {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
}

.postTitle:hover {
    color: #007bff;
}

.postDesc {
    margin: 10px 0;
    color: #777;
}

.postDetails {
    padding: 10px;
    color: #999;
    display: flex;
    justify-content: space-between;
}

@media (max-width: 768px) {
    .postInfo {
        padding: 10px;
    }
} */

/* ------------------------- */
/* ------------------------- */
/* ------------------------- */

.post {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    transition: border-color 0.3s ease;
    background-color: #8fffb62c;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 5px;
}

.post:hover {
    border-color: #007bff;
}

.post img.postImg {
    max-width: 100%;
    height: auto;
    border-radius: 5px 5px 0 0;
}

.postInfo {
    padding: 20px;
    text-align: center;
}

.postCats {
    margin-bottom: 10px;
}

.postCat {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border-radius: 3px;
    font-weight: bold;
}

.postTitle {
    padding: 10px 0;
}

.postTitle-link {
    font-size: 1.5rem;
    color: #333;
    text-decoration: none;
    transition: color 0.3s ease;

}

.postTitle:hover {
    color: #007bff;
}

.postDesc {
    margin: 10px 0;
    color: #777;
    font-size: 1rem;
}

.postDetails {
    padding: 10px;
    color: #999;
    display: flex;
    justify-content: space-between;
    font-size: 0.9rem;
    font-weight: bold;
}

@media (max-width: 768px) {
    .postInfo {
        padding: 10px;
    }
}